@model List<Departments>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var ins in Model)
        {
        <tr>
            <th scope="row">@ins.Id</th>
            <td>@ins.Name</td>
   
        </tr>
        }
    </tbody>
</table>

<a href="department/save">Add</a>


